@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
@media (max-width: 767px) {
  [data-sidebar="trigger"] {
    display: inline-flex !important;
  }

  [data-sidebar="sidebar"][data-mobile="true"] { /* コメントアウトを外す */
    width: var(--sidebar-width) !important;
      z-index: 50;
  }
}